form {

  width: 100%;
  text-align: center;
}

.form-field {
  position: relative;
}

.title {
  font-size: 1.7rem;

  border-bottom: 1px solid #dbe3ec;
  padding: 5px;
  margin: 0 0 40px 0;
  font-family: avenir;
}

.formwrapper {
  position: relative;

  width: 500px;
  box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 1em;
  margin-bottom: 3px;
  display: block;
  color: #white;
}

input, textarea{
  padding: 10px 170px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  font-family: 'Poppins', sans-serif;
  font-size: .9em;
  padding: 10px 100px;

}

input[type="text"]::placeholder {
  color: #d4d9e3;


}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  border-color: #0099ff;
  background: lightyellow;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: white;
  border-color: green;
  box-shadow: unset;
}

input[type="submit"] {
  background: #1ab188;
  border: 0;
  color: white;
  border-radius: 2px;
  padding: 10px 10px;
  font-weight: 400;
  border: 1px solid #0099ff;
  transition: all .3s ease-out;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: white;
  color: #0099ff;
}

.success-wrapper {
  background: white;
  width: 350px;
  box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
  padding: 50px;
}

.errors {
  list-style: none;
  margin: 10px 0;
  position: absolute;
  z-index: 10;
  right: -222px;
  top: 0;
  bottom: 0;
  background: #fae7ea;
  padding: 9px 15px;
  border-radius: 3px;
  border: 1px solid #e1c5c5;
  color: #8d7575;
  width: 182px;
  text-align: center;
  height: fit-content;
  margin: auto;
}

i {
  position: absolute;
  margin: auto;
  top: 4px;
  bottom: 0;
  right: 16px;
  height: fit-content;
  color: grey;
}

