body {
    padding: 30px 30px;
    background: black;
    align-items: center;
    }
h1{
    color:white;
}

h2{
    color:gold;
}

nav {
    color: black;
    background-color: lightgray;
}

img {
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}
