<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TakeNote - Home">
        <title>TakeNote - Home</title>
        <!-- styles -->
        <link id="css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    </head>
    <body>

        <nav class="main-menu">
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('get_notes') }}">Notes</a></li>
            <li><a href="{{ url_for('new_note') }}">New Note</a></li>
            {% if user %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        </nav>

        <div class="center">
            {% if user %}
            <h1>Welcome to TakeNote {{user}}!</h1>
            {% else %}
            <h1>Welcome to TakeNote!</h1>
            <h2>Please log in to access your notes.</h2>
            {% endif %}
            <img id="logo" src="{{ url_for('static', filename='logo.png')}}"/>
        </div>


    </body>
</html>
