<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>TakeNote - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
      <nav class="main-menu">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('get_notes') }}">Notes</a></li>
          <li><a href="{{ url_for('new_note') }}">New Note</a></li>
          {% if user %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>

      <h1>Welcome {{user}} to the TakeNote App!</h1>
      <div>
        <img id="logo1" src="{{ url_for('static', filename='logo.png')}}"/>
      </div>
      <br>
        {% if note %}
          <form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
        {% else %}
          <form id="newNote" action="new" method="post">
          {% endif %}
          <p><label>Title </label></p>
          <p><input type="text" id="noteTitle" name="title" value="{% if note %}{{note.title}} {% endif %}"/></p>
          <p><label>Note </label></p>
          <p>
            <textarea id="noteText" name="noteText"  rows="6" cols="0">
              {% if note %}
                {{note.text}}
              {% else %}
                Add your new note here ...
              {% endif %}
            </textarea>
          </p>
          <p>
            {% if note %}
              <input id="button" type="submit" value="Update Note"/>
            {% else %}
              <input id="button" type="submit" value="Add Note"/>
            {% endif %}
          </p>
        </form>
    </body>
</html>
