<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>TakeNote - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
      <nav class="main-menu">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('get_notes') }}">Notes</a></li>

          {% if user %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>

          {% endif %}
        </ul>
      </nav>

      <h1>Welcome to TakeNote {{user}}!</h1>
      <div>
        <nav>
			<a href="{{ url_for('index') }}"><img id="logo1" src="{{ url_for('static', filename='logo.png')}}" height="30" width="156" /></a>
		</nav>
      </div>
      <br>
        {% if note %}
          <form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
        {% else %}
          <form id="newNote" action="new" method="post">
          {% endif %}
          <p><label>Title </label></p>
          <p><input type="text" id="noteTitle" name="title" value="{% if note %}{{note.title}} {% endif %}"/></p>
          <p><label>Note </label></p>
          <p>
            <textarea id="noteText" name="noteText"  rows="6" cols="0">
              {% if note %}
              {{note.text}}
              {% endif %}
            </textarea>
          </p>
          <p>
            {% if note %}
              <input id="button" type="submit" onclick="return confirm('Are you sure you want to edit this note?');" value="Update Note"/>
            {% else %}
              <input id="button" type="submit"  value="Add Note"/>
            {% endif %}
          </p>
        </form>
    </body>
</html>
