<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>TakeNote - View your Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>

      <nav class="main-menu">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('get_notes') }}">Notes</a></li>

          {% if user %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>

          {% endif %}
        </ul>
      </nav>

        <h1>Welcome to TakeNote {{user}}!</h1>

        <h2 style="color: #00BFFF;">{{note.title}}</h2>
        <div id="noteDetails">
            <table>
                <tr>
                    <th>Text</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>{{ note.text }}</td>
                    <td>{{ note.date }}</td>
                </tr>

            </table><br>
            <form action="{{ url_for('update_note', note_id=note.id) }}" >
                <input id="button" type="submit" value="Edit">
            </form>
            <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
        <div class=comments>
        {% if note.comments %}
          {% if note.comments|length > 0 %}
            <h2>Comments</h2>
            <ul>
            {% for comment in note.comments %}
              <li>{{ comment.content }}</li><br>
              <form action="{{ url_for('delete_comment', note_id=note.id, comment_id=comment.id) }}" method="post">
                <input type="submit" value="Delete" style="font-size:10px">
              </form><br>
            {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
        </div>
        <form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
          <div class="formwrapper">
            <h2 class="title">Add a comment</h2>
            <div class="form-field">
              {{ form.comment.label }} <br/> {{ form.comment }}
            </div>
            {{ form.submit }}
          </div>
        </form>
    </body>
</html>
